<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>

  <ion-datetime-button datetime="datetime"></ion-datetime-button>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime"></ion-datetime>
  </ng-template>
</ion-modal>

</ion-header>

<ion-content>

  <ion-list>
    
    <ion-img style="width: 80px; height: 80px;" src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg"></ion-img>
    
    <ion-item>
      <ion-label>Usuario</ion-label>
      <ion-input placeholder="Introduce tu nombre de usuario"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" value=""></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>I agree to the terms and conditions</ion-label>
    </ion-item>
    
    <ion-button routerLink="/alert">Ingresar a la alerta</ion-button>
    <ion-button routerLink="/action-sheet">Ingresar al action-sheet</ion-button>
    
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="bottom" slot="fixed">

    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button routerLink="/alert" ><ion-icon name="alarm-outline"></ion-icon></ion-fab-button>
      <ion-fab-button routerLink="/action-sheet" ><ion-icon name="accessibility-outline"></ion-icon></ion-fab-button>
      <ion-fab-button routerLink="/cards" ><ion-icon name="browsers-outline"></ion-icon></ion-fab-button>

    </ion-fab-list>

  </ion-fab>
  
  <ion-content class="ion-padding" color="light">  
    <ion-list>  
      <ion-item *ngFor="let item of items"> {{item}} </ion-item>  
    </ion-list>  
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" [disabled]="numTimesLeft <= 0">  
      <ion-infinite-scroll-content  
        loadingSpinner="bubbles"  
        loadingText="Loading more data...">  
      </ion-infinite-scroll-content>  
    </ion-infinite-scroll>  
  </ion-content>  
  

</ion-content>